
@{
    ViewBag.Title = "Competitii";
}
@using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Get))
{
    <button style="margin-left:25px;" class="buttonBack" type="submit"><img style="width:20px; height:20px;" src="~/Content/Image/544-5440422_back-arrow-icon-transparent-png-clipart-free-download.png"/>Inapoi</button>
}

<br />
<br />
<p align="center" style="font-size:35px; font-weight: bold; ">@ViewBag.Title</p>
<img src="~/Content/Image/bck1.jpg" />
<div class="container">
    @if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm(actionName: "New", controllerName: "Competition", method: FormMethod.Get))
        {
            <button style="margin-bottom:5px;margin-left:25px;" class="button2" type="submit">
                Competitie Noua
                <img class="plusImg" src="~/Content/Image/icon-plus.png" />
            </button>
        }
    }

    @using (Html.BeginForm(actionName: "AboutAllCompetitions", controllerName: "Statistics", method: FormMethod.Get))
    {
        <button style="float:right; border-radius:12px; height:40px; margin-right:25px;" class="button3" type="submit">
            Statistici competitii
            <img class="statisticsImg" src="~/Content/Image/STATISTICS.png" />
        </button>
    }
</div>

<br />
<div class="container">
    <div class="grid-container">
        @if (ViewBag.Competitions != null)
        {
            foreach (var competition in ViewBag.Competitions)
            {
                <div class="grid-item">
                    <div class="panel panel-default">
                        <div class="panel-body" style="align-content:center">
                            <div style="background-image: url('@Url.Content(competition.ImagePath)'); background-repeat: no-repeat; background-size: cover; background-position:center; position:relative;">
                                <div class="containerCompetition">
                                    <div class="overlay">
                                        <p>@competition.CompetitionName</p>
                                        @if (competition.EndDate > DateTime.Now)
                                        {
                                            <span class="badge progress-bar-success">Activ</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-secondary">Finalizat</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="panel-default">
                                @if (User.IsInRole("Admin") && competition.Evaluated == false)
                                {
                                    using (Html.BeginForm(actionName: "Edit", controllerName: "Competition", method: FormMethod.Get, routeValues: new { id = competition.CompetitionId }))
                                    {
                                        <button style="margin-right: 5px" class="btn btn-primary col-lg-2" type="submit">Editeaza</button>
                                    }
                                }
                                @using (Html.BeginForm(actionName: "Details", controllerName: "Competition", method: FormMethod.Get, routeValues: new { id = competition.CompetitionId }))
                                {
                                    <button style="margin-right: 5px" class="btn btn-primary col-lg-4 " type="submit">Informatii si inscriere</button>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    using (Html.BeginForm(actionName: "Delete", controllerName: "Competition", method: FormMethod.Post, routeValues: new { id = competition.CompetitionId }))
                                    {
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="btn btn-primary col-lg-2" type="submit">Sterge</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>   
</div>

