body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #990099;
}

.responsive {
    width: 100%;
    height: auto;
    margin-top: 8%;
}
.compBackground {
    background-image: url('Image/N05_petshop_full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.newCompetitionBackground {
    background-image: url('Image/labrador-puppy-and-chartreux-kitten-jean-michel-labat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.editCompetitionBackground {
    background-image: url('Image/Dogs_Cats_Rottweiler_White_background_Two_Puppy_512746_1280x742.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.editCompBackground {
    background-image: url('Image/Edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.newCompBackground {
    background-image: url('Image/New1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.newRewBackground {
    background-image: url('Image/Nu stiu3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    background: rgb(51, 0, 51);
    background: rgba(51, 0, 51, 1); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.containerCompetition{
    height:400px;
}
.containerCompetition:hover .overlay{
    opacity: 1;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    position: absolute;
    left: 45%;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 200px;
    height: 100px;
    margin-top: 4%;
    font-size: 20px;
}
    .button1:hover {
        background-color: #4CAF50;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
.buttonBack {
    position: absolute;
    border-radius: 12px;
    height: 40px;
    margin-top:5px;
}


.buttonBack:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    position: absolute;
    border-radius: 12px;
    height: 40px;
    
}


.button2:hover {
    background-color: #ffeecc;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    
    border-radius: 12px;
    height: 40px;
}
    .button3:hover {
        background-color: #ffeecc;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }


.statisticsImg {
    width:20px;
    height:20px;
}
.plusImg {
    width: 15px;
    height: 15px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white
    /*padding: 10px;*/
}

.grid-container-competitors {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-details-competitor {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
}
.grid-item-competitors {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}



