
@{
    ViewBag.Title = "Administrare conturi si roluri";
}

<h1 class="text-center" style="font-weight: bold;">Administrare conturi si roluri</h1>
@Html.Partial("_TopMenuPartial")
<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-12">
            @if (ViewBag.UsersList.Count == 0)
            {
                <p>No users</p>
            }
            else
            {
                <table class="table">
                    <thead class="p-3 mb-2 bg-info text-white">
                        <tr>
                            <th>Nume utilizator</th>
                            <th>Informatii</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in ViewBag.UsersList)
                        {
                            <tr>
                                <td>@u.UserName</td>
                                <td>
                                    @using (Html.BeginForm(actionName: "Details", controllerName: "Users", method: FormMethod.Get, routeValues: new { id = u.Id }))
                                    {
                                        <button style="margin-right: 5px" class="btn btn-primary " type="submit">Infomartii cont</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

