<br/>
<div class="row">
    
       
        <div style="width:60%; margin-left:28%">
            @using (Html.BeginForm(actionName: "AddRole", controllerName: "Users", method: FormMethod.Get))
            {
                <button style="margin-right:5px" class="btn btn-primary col-lg-2" type="submit">Adauga Rol</button>
            }
            @using (Html.BeginForm(actionName: "AddUserToRole", controllerName: "Users", method: FormMethod.Get))
            {
                <button style="margin-right:5px" class="btn btn-primary col-lg-4" type="submit">Adauga Rol la Cont</button>
            }
            @using (Html.BeginForm(actionName: "DisplayRoles", controllerName: "Users", method: FormMethod.Get))
            {
                <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Roluri</button>
            }
            @using (Html.BeginForm(actionName: "Index", controllerName: "Users", method: FormMethod.Get))
            {
                <button style="margin-right:5px" class="btn btn-primary col-lg-2" type="submit">Conturi</button>
            }
        </div>
 
</div>

