@{
    ViewBag.Title = "Home Page";
}
<p style="font-size:80px; margin-top: 3%" align="center">For Animals</p>

@using (Html.BeginForm(actionName: "Index", controllerName: "Competition", method: FormMethod.Get))
{
    <button class="button button1" type="submit">Hai sa concuram  </button>
}
<img src="~/Content/Image/bck2.jpg" class="responsive" />